<h1>{{post.question}}</h1> <br> {{post.note}}<h5> - by <em>{{post.author}}</em></h5><br>


<h2> Answers </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>
<button {{action 'delete' post}}>Delete Question</button>
