{{#if updatePostForm}}
<h4><em>Hello!! {{post.author}}, you could update your question here!</em></h4>
<div>
  <form>
    <div class="form-group">
      <label for="author">Your Name</label>
      {{input value=author id="author" placeholder=post.author}}
    </div>

    <div class="form-group">
      <label for="question">Question</label>
      {{input value=question id="question" placeholder=post.question}}
    </div>

    <div class="form-group">
      <label for="note">Notes</label>
      {{input value=note id="note" placeholder=post.note}}
    </div>

    <button {{action 'update' post}}>Submit</button>
  </form>
</div>

{{else}}
  <button {{action 'updatePostForm'}}>Change question</button>

  {{/if}}
