<div id="container" class="container">
  <header class="jumbotron">
    <h1>Tech-World</h1>
    <h2>World of questions and answers</h2>
  </header>
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand"}}TECH-WORLD{{/link-to}}
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li class="active">{{#link-to 'about'}}ABOUT {{fa-icon "thumbs-up"}}{{/link-to}}</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{outlet}}
      </div>
      <div class="col-md-2"></div>
    </div>
  <hr>
  <footer>
    <a href="https://www.linkedin.com/">LinkedIn {{fa-icon "linkedin"}}</a> | <a href="https://www.facebook.com/Amazon/">Facebook {{fa-icon "facebook"}}</a> | <a href="https://github.com/amzn">Github {{fa-icon "github"}}</a>
  </footer>
</div>
